* {

}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  background-color: #ffdf00;
}

header {
  margin: 0 auto;
  background-color: #000000;
}

.button a:link, a:visited {
    position: relative;
    left: 8%;
    float: none;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #000000;
    color: #ffdf00;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 20px;
    margin-left: 10px;
}


.button a:hover, a:active {
    background-color: #b12300;
}

section {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 40px;
  color: black;
  font-weight: 600;
  margin-top: 50px;
  text-align: center;
}


.izzati,.syazwana {
  position: relative;
  display: inline-block;
  width: 25%;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-right: 40px;
  margin-left: 20px;
  left: 20%;
}

.izzati1,.syazwana1 {
  position: relative;
  display: inline-block;
  width: 25%;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-right: 40px;
  margin-left: 20px;
  left: 20%;
  font-weight: 600;
  border-left: 10px solid black;
  padding-left: 20px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 200px;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  border-radius: 200px;
  background-color: #b12300;
  opacity: 0.8;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .3s ease;
}

.syazwana:hover .overlay {
  bottom: 0;
  height: 100%;
}

.izzati:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  font-family: 'Montserrat Alternates', sans-serif;
  white-space: nowrap;
  color: #ffdf00;
  font-size: 18px;
  position: absolute;
  overflow: hidden;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

aside {
  float: left;
  width: 30%;
}

footer {
  font-family: 'Montserrat Alternates', sans-serif;
  clear: both;
  text-align: center;
  background-color: black;
  color: #ffdf00;
}

header, aside, footer {
  padding: 20px;
}
