* {

}

img{
  padding-left: 30px;
  padding-top: 45px;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  background-color: #ffdf00;
}

header {
  margin: 0 auto;
  background-color: #000000;
}

section {
  font-family: 'Bungee', cursive;
  line-height: 100%;
  font-size: 40px;
  color: black;
  font-weight: bold;
  border-left: 20px solid #b12300;
  width: 45%;
  margin: 40px 50px 40px 5px;
  padding-left: 10px;

}


.button a:link, a:visited {
    position: relative;
    left: 11%;
    float: inherit;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #000000;
    color: #ffdf00;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 10px;
}


.button a:hover, a:active {
    background-color: #b12300;
}

.bebears , .pingu{
float: left;
 width: 900px;
 padding: 10px;
 margin: 10px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.watch {
  display: inline-block;
  border-radius: 4px;
  background-color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 230px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  padding-left: 10px;
  margin-left: 22px;
}

.watch a {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.watch a:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.watch:hover a {
  padding-right: 25px;
}

.watch:hover a:after {
  opacity: 1;
  right: 0;
}

footer {
  font-family: 'Montserrat Alternates', sans-serif;
  clear: both;
  text-align: center;
  background-color: black;
  color: #ffdf00;
  padding: 20px;
}
